.sidebar .nav.sub-menu .nav-item::before {
    content: none;
}
.sidebar .nav.sub-menu {
    padding: 0px;
}

.sidebar .nav.sub-menu .nav-item{
    padding: 0.25rem 0 0 3.07rem
}
.sidebar .nav.sub-menu .nav-item:hover {
    background: #9c27b0;
    width: 100%;
}

.sidebar {
    background: #16181d;
    margin-top: 90px;
}
.main-panel .content-wrapper{
    background: #16181d;
}

.navbar .navbar-brand-wrapper {
    background: #16181d;
}
.navbar .navbar-menu-wrapper{
    background: #16181d;
}

.cus-sidebar-icon{
    width: 20px;
    margin-right: 15px;
}
.navbar .navbar-brand-wrapper {
    height: 150px;
}

.navbar .navbar-menu-wrapper {
    height: 150px;
}
.modal-backdrop.fade {
    opacity: 0.8;
}
.cus-line-height{
    line-height: 1.1rem;
}
.count{
    border-radius: 50%;
    height: 8px;
    width: 8px;
}

.cus-my-profile-img{
    margin-top: -35px;
}

.cus-my-profile-img img{
    width: 60px;
    border: 3px solid white;
}

.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-18{
    font-size: 18px;
}

.w-60{
    width: 60px;
}
.w-70{
    width: 70px;
}
.w-300{
    width: 300px;
}

.h-350{
    height: 350px;
}

.rotate-180{
    transform: rotate(180deg);
}

.min-height-280{
    min-height: 280px;
}

.NFT-collection{
    position: absolute;
    left: 35%;
    top: 35%;
}

.dashboard-slider .slide-arrow.next-arrow.slick-arrow{
    position: absolute;
    top: 40%;
    right: -15px;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #4c27bb;
}

.dashboard-slider .slide-arrow.prev-arrow.slick-arrow{
    position: absolute;
    top: 40%;
    left: -15px;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #4c27bb;
    z-index: 1;
    transform: rotate(180deg);
}

.dashboard-slider .slide-arrow img{
    width: 10px;
}

.stacking-slider .slick-track{
    top: 35px;
    padding-bottom: 55px;
}
.collection-slider .slick-track{
    top: 50px;
    padding-bottom: 65px;
}

.stacking-slider .slide-arrow.next-arrow.slick-arrow, .bull-kong-slider .slide-arrow.next-arrow.slick-arrow, .collection-slider .slide-arrow.next-arrow.slick-arrow{
    position: absolute;
    top: 50%;
    right: -10px;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #4c27bb;
}

.stacking-slider .slide-arrow.prev-arrow.slick-arrow, .bull-kong-slider .slide-arrow.prev-arrow.slick-arrow, .collection-slider .slide-arrow.prev-arrow.slick-arrow{
    position: absolute;
    top: 50%;
    left: -10px;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #4c27bb;
    z-index: 1;
    transform: rotate(180deg);
}

.bull-kong-slider .slick-track{
    margin-left: 0;
}

.stacking-slider .slide-arrow img, .bull-kong-slider .slide-arrow img, .collection-slider .slide-arrow img{
    width: 10px;
}

.bg-card-1{
    background: linear-gradient(#ffb765, #ff845c);
}
.bg-card-2{
    background: linear-gradient(#42d493, #1fa989);
}
.bg-card-3{
    background: linear-gradient(#88a1ff, #8780fe);
}
.bg-card-4{
    background: linear-gradient(#f6f8fe, #f6f8fe);
}

.card-img-top{
    margin-top: -24%;
}

.border-violate{
    border: 1px solid #4c27bb;
}

.text-light-pink{
    color: #e3bcee;
}
.text-grey{
    color: #8691b4 !important;
}
.text-violate{
    color: #4c27bb;
}
.bg-violate{
    background-color: #4c27bb;
}
.text-blue{
    color: #00267a;
}
.bg-blue{
    background-color: #00267a;
}
.text-pink{
    color: #d900ff;
}
.bg-pink{
    background-color: #d900ff;
}

.card-4-btn{
    position: absolute;
    bottom: -18px;
    left: 35%;
}

.bg-bullkong{
    background-image: url("../../images/assets/Dashboard/Group1034.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}
.bg-newface{
    background-image: url("../../images/assets/Dashboard/Group1035.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}
.bg-hoppertrophy{
    background-image: url("../../images/assets/Dashboard/Group1036.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}
.bg-news{
    background-image: url("../../images/assets/Dashboard/Group894.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 380px;
}

.bg-crypto-wallet{
    background-image: url("../../images/assets/Dashboard/Group1037.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-yield-wallet{
    background-image: url("../../images/assets/Dashboard/Group1038.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-commission-wallet{
    background-image: url("../../images/assets/Dashboard/Group1039.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-NFT-wallet{
    background-image: url("../../images/assets/Dashboard/Group1040.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-login-img{
    background-image: url("../../images/assets/Register_Account/Group73.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login-gradient {
    background-image: linear-gradient(to right, #cf62db , #3a1eb7);
  }
.table-gradient {
    background-image: linear-gradient(to right, #4d2e55 , #20194a);
  }
.withdrawal-gradient {
    background-image: linear-gradient(to right, #fad861 , #f16267);
  }
.yield-gradient {
    background-image: linear-gradient(to right, #2acae4 , #2acae4);
  }

.trading-table tbody tr:nth-child(odd) {
    background-color: #16181d;
}
.trading-table tbody tr:nth-child(even) {
    background-color: #2c2e33;
}

.alpha-symbol{
    width: 85px;
    height: 80px;
    background: white;
    margin-top: -55px;
    font-size: 70px;
}

.sale-label{
    position: absolute;
    top: 10%;
    left: -34%;
    background-color: #c11023;
    color: white;
    transform: rotate(-35deg);
    width: 100%;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.nav-tabs.account-tabs li a.active {
    background-color: #FFC100;
    color: white !important;
    text-decoration: none;
}

.nav-tabs.register-tabs li a.active {
    background-color: #FFC100;
    text-decoration: none;
    border: 1px solid #FFC100 !important;
}

.blue-ph::placeholder{
    color: #00267a;
    font-weight: bold;
}
.grey-ph::placeholder{
    color: #8691b4;
    font-weight: bold;
}

.cus-checkbox span {
    height: 20px;
    width: 20px;
    border: 2px solid #e3bcee;
    position: relative;
  }
  
.cus-checkbox  [type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -3px;
    left: 2px;
  }

  .cus-radio span {
    color: white;
    background: #ffc100;
    padding: 20px 50px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: block;
  }
  
.cus-radio  [type=radio]:checked + span {
    opacity: 0.8;
}  

.outline-0{
    outline: none !important;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right .nav-item.display-none {
      display: none !important;
    }
  }

  @media screen and (min-width: 1200px) {
    .w-123{
        width: 123px;
    }
  }
  
/*******************************step wizard start*****************************************/  

.customer-register.wizard > .content > .body {
    position: relative;
    width: 100%;
    padding: 0;
}

.customer-register.wizard > .content{
    background-color: transparent;
    border: none;
}

.customer-register.wizard > .actions a, .customer-register.wizard > .actions a:hover, .customer-register.wizard > .actions a:active {
    padding: 0px;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.customer-register.wizard > .steps a{
    margin: 0;
}

.customer-register.wizard > .steps .number{
    display: none;
}

.customer-register.wizard > .steps .disabled a, .customer-register.wizard > .steps .disabled a:hover, .customer-register.wizard > .steps .disabled a:active {
    border-radius: 0px;
    background: transparent;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    padding: 14px;
    margin: 0;
} 

.customer-register.wizard > .steps .current a, .customer-register.wizard > .steps .current a:hover, .customer-register.wizard > .steps .current a:active {
    background: #ffc100;
    border: 1px solid #ffc100;
    color: #fff;
    cursor: pointer;
    padding: 14px;
    border-radius: 0;
    margin: 0;
}

.customer-register.wizard > .steps .done a, .customer-register.wizard > .steps .done a:hover, .customer-register.wizard > .steps .done a:active {
    border-radius: 0px;
    background: transparent;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    padding: 14px;
    margin: 0;
}

.wizard > .actions {
    padding-top: 0px;
}

@media (max-width: 1200px){
    .customer-register.wizard > .steps > ul > li {
        width: auto;
    }
}
@media (max-width: 767px){
    .customer-register.wizard > .steps > ul > li {
        width: 100%;
    }
}

/*******************************step wizard end*****************************************/  
