.navigation-cus select {
    background-color: transparent;
}
.nftrow .stacking-slider h3 {
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    margin: 0px;
    text-align:center;
    width:100%
}
.dashboard-news h3 {
    margin-bottom: 5px;
}
.title-bg-nft h2 {
    text-shadow: 1px 1px 10px #222;
}
.title-bg-nft {
    text-align: center;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    width: 100% !important;
    padding-top: 25px;
}
p.dix.pt-3.text-white {
    font-size: smaller;
}
.dashtop p.text-white {
    margin-top: 5px;
}
#new-tickets .modal-content .form-group {
    margin-bottom: 5px;
}
.news-main img.card-img-top {
    border-radius: 5px;
}
.tab-pane li, .card-body li {
    line-height: 1.5;
    text-align: left;
    margin-left: 15px;
}
.login-box a.btn.bg-white.text-warning {
    border: 1px solid;
    border-radius: 5px !important;
}
a.cpybtn {
    margin: 0px 10px;
}
.table-history td {
    text-align: left;
}
form#cryptowalletform {
    margin-top: 25px;
}
.staking-main p.ear {
    margin-top: 10px;
    margin-bottom: 5px;
}
.stack-row .stacking-slider p.text-white.font-weight-bold.font-12 {
    font-size: 18px;
}
.dashboard-slider .slick-list.draggable {
    border-radius: 15px;
}
.wallets-dash .row .card {
    background-size: 105% !important;
}
div#myDiagramDiv {
    background-image: url(https://app.defixfinance.com/public/assets/images/assets/nodebg.jpg) !important;
    background-size: cover;
    border-radius:5px
}
nav#sidebar.sidebar-offcanvas {
    margin-top: 0px;
}
body {
    background-color: #16181d;
}
.stack-row .stacking-slider h3 {
    margin-top: 6px;
}
.stack-row .stacking-slider .slick-list {
    padding-top: 1.5rem;
}
.container-fluid.page-body-wrapper {
    padding-top: 0px;
}
button.btn {
    border-radius: 5px !important;
}
.login-logo img {
    width: 450px;
}
.slick-list h4 {
    text-transform: uppercase;
    font-size: 25px !important;
    font-weight: 600;
}
.stack-row .stacking-slider .slick-slide a.btn {
    font-size: 15px;
}
.dashboard-news img.img-fluid {
    border-radius: 5px;
}
.staking-main .alpha-top-img {
    width: 100px;
}
.login-box .navigation-cus {
    position: absolute;
    right: 15px;
    top: 15px;
}
.news-indi #newsimg {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.staking-pool-indi h4 {
    margin-left: 10px;
}
img#qr_image {
    width: 100%;
}
.dashboard-slider .slick-slide img {
    border-radius: 5px;
    min-height: auto;
}
.staking-pool-indi .alpha-symbol {
    width: 85px;
    height: 85px;
    background: white;
    font-size: 85px;
    margin: 0 auto;
    margin-top: -55px;
}
.dashboard-news .bg-news {
    border-radius: 5px !important;
}
img.stake-tokens-logo {
    margin: 0 auto;
    margin-top: -17px !important;
    margin-bottom: -10px !important;
}
.slick-list img.stake-logo {
    /* position: absolute; */
    top: 0;
    width: 100px;
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 14px;
}
.staking-main img.stake-logo {
    margin-top: -20px;
    margin-bottom: -15px;
}

a.navbar-brand.brand-logo.p-4 {
    padding-right: 0px !important;
}
.staking-main a.btn {
    font-size: 15px;
}
.staking-main h4 {
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 10px;
}.main-panel .content-wrapper {
    padding-top:0px
}
.nftrow .stacking-slider .slick-list {
    padding-top: 0px;
}
.indi-nft button.btn {
    font-weight: 800;
}
.nft-market .slick-list h4{
    font-size:21px !important
}
.nft-market .title-bg-nft h2 {
    font-size:28px !important
}
.nft-market .title-bg-nft h4.mb-3 {
    font-size: 18px;
}
.nft-market .slick-slide img {
    border-radius:5px
}
.nft-market h3.text-black  {
    font-size:20px !important
}
.stack-row .stacking-slider .slick-slide a.btn.bg-warning {
    background-color: #fff !important;
    color: #ffc113 !important;
    border: 2px solid #ffc113;
}
.indi-nft input#security_password {
    background-color: transparent;
    color: #fff;
}
.dashboard-news .d-flex.align-items-center.mt-3:last-child {
    display: none !important;
}
.login-box select.form-control.cus-bg-tra-b {
    background-color: transparent;
}
h1,h2,h3,h4,h5,h6,button {
    font-family:'EUROSTIB' !important
}
p,a, span, .row li {
    font-family:'Dinpro'
}

.staking-main a.btn, .stack-row .stacking-slider a.btn {
    border-radius: 5px !important;
}
.login-box input, .login-box input::placeholder, .login-box select, .login-box select option {
    background-color: transparent !important;
    color: #fff !important;
    border-color: #fff;
    border-radius: 5px !important;
}
.wizard > .content > .body input.error {
    background: transparent;
    border: 1px solid #e80008;
}
span.invalid-feedback {
    color: #fff !important;
    text-align: center;
}
.staking-pool-indi img.stake-logo {
    width: 100%;
    margin-top: -13px;
}
.bg-login-img .alert-success {
    color: #fff;
    background-color: rgba(87, 182, 87, 1);
    border-color: #50a750;
    font-size: 15px;
    z-index:999
}
.countryf.col-12.col-md-4 {
    padding-right:16px
}
.customer-register.wizard li a {
    text-transform: uppercase;
    border: 0px !important;
}
.customer-register.wizard > .steps .disabled a {
    background-color: rgba(255,255,255,0.4) !important;
}
@media only screen and (min-width: 600px) {
    .steps ul li.first a { border-radius: 5px 0px 0px 5px !important; }
    .steps ul li.last a { border-radius: 0px 5px 5px 0px !important; }
    .wizard > .steps > ul > li { 
        width:33% !important;
        margin:0px !important
    }
    .register-inner .col-12.text-right.leftright {
        margin-top:-30px    
    }
    .d-none-desk {
        display:none !important
    }
    nav.navbar .navbar-brand-wrapper {
        height: 120px;
    }
    nav.navbar .navbar-menu-wrapper {
        height: 120px;
    }
}
@media only screen and (max-width: 600px) {
    .col-12.text-center.login-logo {
        margin-top:40px
    }
    .content-wrapper > div.ml-2 {
    margin-left: 0px !important;
    }
.content-wrapper >div > h2 {
    text-align: center;
}
    .dashboard .profileb {
    margin-bottom: 20px;
}
.dashboard .dashtop {
    text-align: center;
}
    .nftrow .col-12.col-md-6.col-lg-4 {
    margin-bottom: 20px;
}
    .dashboard h3.text-white {
    text-align: center;
    margin-left: 0px !important;
}
    .navbar {
    background-color: #16181d;
    }
    .wallet-dashboard .col-12 .card {
        background-size: 130%;
    }
    .row.dashboard-news .bg-news {
        min-height:120px
    }
    .navbar .navbar-brand-wrapper .brand-logo-mini img {
        width: 174%;
        max-width: none;
        margin: auto;
        height: auto;
        padding-left: 18px;
        z-index: 99999;
    }
    .navbar .navbar-brand-wrapper, .navbar .navbar-menu-wrapper {
        height: 100px !important;
    }
    .text-center.navbar-brand-wrapper.d-flex.align-items-center.justify-content-center {
        z-index:999
    }
}
.bankc.col-12 {
    padding-right: 16px;
    padding-bottom: 1px;
}
.sigbox .card {
    background-color:transparent !important
}
.registerbox a.btn {
    font-size: 15px;
    border-radius:5px !important
}
.nodes .col-12.col-xl-3.stretch-card.pr-0 {
    padding-right: 15px !important;
}
form#staking_pool button {
background: linear-gradient(
90deg, rgba(195,92,216,1) 0%, rgba(63,31,183,1) 100%);
    color: #fff !important;
    font-size: 15px;
    font-weight: 600;
}
text.highcharts-credits {
    display: none;
}
.graphr .rounded-right {
    border-radius: 10px;
}
.col-12.col-xl-9.pl-0.graphr {
    padding-left: 15px !important;
}
.nodes .text-white.p-5.bg-warning.rounded-left.w-100 {
    border-radius: 10px !important;
    margin-bottom: 15px;
}
.indv {
    padding-bottom: 10px;
}
.staking-pool-indi button.btn {
    font-size: 23px;
    font-weight: 500;
}
form#staking_pool label.error {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}
.staf input, .staf select, .staf input:focus, .staf select:focus {
    color: #fff;
    background-color: rgba(0,0,0,0.6) !important;
    border: 0px !important;
}
.registerbox label, .wizard > .content > .body label.error {
    margin-top: 5px;
    color:#fff !important;
    font-size:14px
}
.leftright .cus-radio [type=radio]:checked + span {
    opacity: 1;
    background: #ffc100;
    border-color: #ffc100;
}

.leftright .cus-radio span.text-uppercase {
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid;
    opacity: 0.5;
}
.login-box input:focus, .login-box select:focus, .wizard > .content > .body input.error {
    background-color: rgba(0,0,0,0.6) !important;
}
.ticks label.m-checkbox a {
    font-size: 17px;
    margin-left: 5px;
}
.footer-copy{
    font-size: 100% !important;
}
.stk-logo{
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 14px;
}
